
/*-- Catppuccin --*/
@import "wallust/colors-waybar.css";

* {
  border: none;
  font-family: JetBrainsMono, Symbols Nerd Font;
  font-size: 12px;
  min-height: 0;
  color: @foreground;
}

window#waybar {
  background: transparent;
  border-radius: 5px;
}

#workspaces {
  border-radius:5px;
  box-shadow:0px 0px black;
  /* background: #141b1e; */
  background: @background;
}

#custom-arch,
#custom-lizzy,
#clock,
#custom-weather,
#custom-power {
  background: @background;
  border-radius: 5px;
}

#clock,
#battery,
#custom-arch,
#custom-lizzy,
#custom-weather,
#custom-power {
  margin-left:5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#backlight {
  background: @background;
  border-radius:5px 0px 0px 5px;
  padding-left: 10px;
  padding-right: 5px;
}

#battery,
#network,
#bluetooth,
#wireplumber {
  background: @background;
  border-radius:0px;
  padding-left: 5px;
  padding-right: 5px;
}

#custom-notification {
  background: @background;
  border-radius: 0px 5px 5px 0px;
  padding-left: 5px;
  padding-right: 10px;
}

#battery,
#network,
#wireplumber,
#backlight,
#bluetooth {
  margin:0px;
}

/*
#cpu,
#memory {
  padding: 0px 5px 0px 0px;
  margin: 5px 5px;
  color: #e69875;
}
  */
