
/*-- Catppuccin --*/
@import "themes/everforest.css";

* {
  border: none;
  border-radius: 10px;
  font-family: JetBrainsMono, Symbols Nerd Font;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(30, 35, 38, 0.95);
  color: #272e33;
}

tooltip {
  background: @bgcol;
  color: @fgcol;
  border-radius: 10px;
  border-width: 0px;
}


#workspaces {
  background: @bgcol;
  margin: 5px 0px;
  padding: 0px 10px;
  margin: 5px 0px;
  border-radius: 15px;
  opacity: 0.8;
  font-size: 16px;
  color: @fgcol;
}

#workspaces button {
  padding: 0px 1px;
  margin: 3px 1px;
  border-radius: 10px;
  color: @fgcol;
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  color: @bgcol;
  background: @green;
  border-radius: 10px;
  min-width: 30px;
  padding: 0px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#workspaces button.focused {
  background: @bgcol;
  color: @fgcol;
}

#workspaces button.urgent {
  background-color: @red;
}

#custom-menu {
  font-weight: bold;
  color: @blue;
  /*background-image: linear-gradient(90deg, @peach 10%, @peach 80%);*/
  padding: 0px 3px;
  margin: 5px 10px;
}

#custom-separator {
  padding-left: 1em;
  padding-right: 1em;
  color: @fgcol;
}

#window {
  font-weight: bold;
  font-family: "CaskaydiaCove Nerd Font Mono";
  /* background: @surface0; */
  color: @yellow;
  padding: 0px 0px;
  margin: 5px 0px;
 /* border-radius: 10px; */
}

/*
#custom-notification {
  padding: 0px 10px 0px 5px;
  margin: 5px 0px;
  color: @fgcol;
  background: @bgcol;
  border-radius: 0px 10px 10px 0px;
}
*/

#battery {
  padding: 0px 10px 0px 5px;
  margin: 5px 0px;
  color: @green;
  background: @bgcol;
  border-radius: 0px 10px 10px 0px;
}

#cpu,
#memory {
  padding: 0px 5px 0px 0px;
  margin: 5px 5px;
  color: #e69875;
}

#network {
 padding: 0px 5px 0px 10px;
 margin: 5px 0px;
 border-radius: 10px 0px 0px 10px;
 background: @bgcol;
 color: @green;
}

#wireplumber {
  margin: 5px 0px;
  color: @green;
  background: @bgcol;
  border-radius: 0px;
}

#clock {
  color: #e67e80;
  background-image: linear-gradient(90deg, @bgcol 10%, @bgcol 80%);
  padding: 0px 10px;
  margin: 5px 10px;
  border-radius: 10px;
}
