/*****----- Catppuccin(Mocha) Color Scheme  -----*****/

* {
    background:     #181825;
    background-alt: #1e1e2e;
    foreground:     #D9E0EEFF;
    selected:       #fab387;
    active:         #ABE9B3FF;
    urgent:         #f38ba8;
}
