/*****----- Everforest Color Scheme  -----*****/

* {
    background:     #272E33;
    background-alt: #3C474D;
    foreground:     #D3C6AA;
    selected:       #A7C080;
    active:         #A7C080;
    urgent:         #E67E80;
}
