/*******************************************************************************
 * EVERFOREST THEME FOR ROFI 
 *******************************************************************************/

* {
  bg: #272E33;
  bg-selected: #A7C080;

  fg: #D3C6AA;
}

@import "rounded-common.rasi"
